{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Images</title>
</head>
<body>
    <header>
        <h1>Favorite Images App</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="messages">
        {% if messages %}
            {% for message in messages %}
                <h1>{{ message }}</h1>
            {% endfor %}
        {% endif %}
    </div>
    <main>
        <h1>Welcome {{user.firstName}}</h1>
        <div class="row">
            <h2>Saved Images</h2>
            {% for image in images %}
                <div class="column">
                    <h3>{{image.name}}</h3>
                    <img src="{{image.img}}" alt="{{image.name}}">
                    <h4></h4>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <h2>Uploaded Images</h2>
            {% for upload in uploads %}
                <div class="column">
                    <h3>{{upload.name}}</h3>
                    <img src="/media/{{upload.img}}" alt="{{upload.name}}">
                </div>
            {% endfor %}
        </div>
    </main>
    <footer>

    </footer>
    <script src="{% static 'js/scripts.js'%}"></script>
</body>
</html>