{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <title>Fun Django App</title>
</head>
<body>
    <header>
        <h1>Welcome {{user.firstName}}</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <h1>View Notes</h1>
        <button><a href="/notes/addNote/">Add Note</a></button>
        <table>
            <tr>
                <th>Note Title</th>
                <th>Actions</th>
            </tr>
            {% for n in notes %}
                <tr>
                    <td>{{n.noteTitle}}</td>
                    <td><a href="/notes/{{n.id}}/">View Note</a></td>
                </tr>
            {% endfor %}
        </table>
    </main>
    <footer>
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </footer>
</body>
</html>